body  {
width: 500px; 
height: 750px;
margin: 0 auto;
font-size: 18px;
box-shadow: 0px 1px 14px 0px #000000 inset;    
}
h2{padding-top: 20px;
    
}
.center {
text-align: center;
}

.padding {
padding-left: 50px;
}
